<app-header></app-header>
<ion-content>

    <ion-grid style="width: 100vw;  background-color: #f2f2f2;">

        <ion-row class="ion-justify-content-center">
            <ion-col size-xl="3.65" size-lg="5.5" size-md="10" size-sm="12" size-sm="12">

                <ion-card class="ion-no-padding prof-header-card">
                    <ion-card-header class="ion-no-padding">

                        <ion-row>
                            <ion-col size-sm="12" size="12">
                                <ion-card-title>
                                    <ion-img class="profile-header"
                                        src='https://directlinedev.com/media/cases/woodwell/clear/great_background_1.wide.png'>
                                    </ion-img>
                                </ion-card-title>
                            </ion-col>
                        </ion-row>


                        <ion-card-subtitle>
                            <ion-row style="background-color: white;" class="ion-justify-content-between">
                                <ion-col size-xl="5" size-lg="5" size-md="4" size-sm="4" size="4">

                                    <ion-row>
                                        <ion-card class="profile-img">
                                            <ion-header>
                                                <ion-img src={{profile}} alt={{firstname}}>
                                                </ion-img>
                                            </ion-header>
                                        </ion-card>
                                    </ion-row>
                                    <ion-row>
                                        <span
                                            style="font-size: small; font-weight: bold; margin-left: 10px;">{{firstname}}
                                            {{lastname}}</span>
                                    </ion-row>
                                    <ion-row>
                                        <span style="font-size: smaller; margin-left: 10px;">{{userType}}</span>
                                    </ion-row>
                                </ion-col>
                                <ion-col size-xl="3" size-lg="3.5" size-md="3" size-sm="4" size="4">

                                    <ion-row>
                                        <span style="font-weight: bold;">10</span>
                                    </ion-row>
                                    <ion-row>
                                        <span>Teams</span>
                                    </ion-row>
                                    <ion-row *ngIf="viewButton">
                                        <ion-button>View Profile <ion-icon name="arrow-forward-outline"></ion-icon>
                                        </ion-button>
                                    </ion-row>

                                </ion-col>
                                <ion-col size-xl="3" size-lg="3.5" size-md="3" size-sm="4" size="4">
                                    <ion-row>
                                        <span style="font-weight: bold;">87</span>
                                    </ion-row>
                                    <ion-row>
                                        <span>Students</span>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-card-subtitle>
                    </ion-card-header>

                </ion-card>

            </ion-col>
            <ion-col size-xl="3.25" size-lg="5.5" size-md="10" size-sm="12" size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p> Personal Information</p>
                            <ion-icon name="pencil-outline"></ion-icon>
                        </ion-card-title>
                        <ion-card-subtitle style="font-size: small;">
                            <span>{{title}}</span>
                        </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size-xl="5">
                                    <p>Full name:</p>
                                </ion-col>
                                <ion-col size-xl="5">
                                    <span>{{firstname}} {{lastname}}</span>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-xl="5">
                                    <p>Mobile:</p>
                                </ion-col>
                                <ion-col size-xl="5">
                                    <span>{{phone}}</span>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-xl="5">
                                    <p>E-mail:</p>
                                </ion-col>
                                <ion-col size-xl="5">
                                    <span>{{email}}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size-xl="5">
                                    <p>Location:</p>
                                </ion-col>
                                <ion-col size-xl="5">
                                    <span>{{city}}, {{country}}</span>
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size-xl="4.5" size-lg="7" size-md="10" size-sm="10" size-xs="10">
                <ion-card style="width: fit-content;">
                    <ion-card-header>
                        <ion-card-title style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p> Edit details</p>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="height: fit-content;">
                        <form #form="ngForm" (ngSubmit)="saveUser(form)">

                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">First name</ion-label>
                                    <ion-input type="text" [(ngModel)]="firstname" required value={{firstname}}
                                        name="firstname"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Last name</ion-label>
                                    <ion-input type="text" [(ngModel)]="lastname" required value={{lastname}}
                                        name="lastname"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Contact number</ion-label>
                                    <ion-input type="text" [(ngModel)]="phone" required value={{phone}} name="phone">
                                    </ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Email id</ion-label>
                                    <ion-input type="email" [(ngModel)]="email" required value={{email}} name="email">
                                    </ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">City</ion-label>
                                    <ion-input type="text" [(ngModel)]="city" required value={{city}} name="city">
                                    </ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Country</ion-label>
                                    <ion-input type="text" [(ngModel)]="country" required value={{country}}
                                        name="country"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">About me</ion-label>
                                    <ion-textarea value={{title}} [(ngModel)]="title" name="title"></ion-textarea>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal" *ngIf="userType === 'Student'">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Grade</ion-label>
                                    <ion-input type="text" [(ngModel)]="grade" value={{grade}} name="grade">
                                    </ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal"
                                *ngIf="userType === 'Student' || userType === 'Teacher' ">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">School</ion-label>
                                    <ion-input type="text" [(ngModel)]="school" value={{school}} name="school">
                                    </ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal" *ngIf="userType === 'Teacher'">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Certifications</ion-label>
                                    <ion-input type="text" value={{certifications}} [(ngModel)]="certifications"
                                        name="certifications"></ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal" *ngIf="userType === 'Teacher'">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Affiliations</ion-label>
                                    <ion-input type="text" value={{affiliations}} [(ngModel)]="affiliations"
                                        name="affiliations"></ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal" *ngIf="userType === 'Teacher'">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Experience</ion-label>
                                    <ion-input type="text" value={{experiance}} [(ngModel)]="experiance"
                                        name="experiance"></ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Facebook Link</ion-label>
                                    <ion-input type="text" value={{facebookLink}} [(ngModel)]="facebookLink"
                                        name="facebookLink">
                                    </ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">Linkedin Link</ion-label>
                                    <ion-input type="text" value={{linkedinLink}} [(ngModel)]="linkedinLink"
                                        name="linkedinLink"></ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal" *ngIf="userType === 'Student'">
                                <ion-item class="form-feild">
                                    <ion-label position="stacked">parent email</ion-label>
                                    <ion-input type="Readonly" value={{parentEmail}} readOnly>
                                    </ion-input>
                                </ion-item>
                            </ion-row>

                            <ion-row class="padding-horizantal">
                                <ion-button class="form-feild" color="primary btn-start" type="submit"
                                    [disabled]="form.invalid" expand="block">Save</ion-button>
                            </ion-row>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>