ion-card {
  width: 400px;
  height: fit-content;
}

.prof-header-card{
  width: 450px;
  height: fit-content;
}

@media (max-width: 540px) {
  /* For mobile phones: */

  .prof-header-card{
    width: 100vw;
    height: fit-content;
  }
}

p {
  font-weight: bold;
}

//1140px -xl
//960px -lg
//720px -md
//540 -sm

.profile-header {
  display: block;
  height: 119px;
  object-fit: inherit;
  object-position: inherit;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  margin-top: -30px;
}

.profile-name {
  position: absolute;
  top: 110%;
  margin-left: 10px;
}

.profile-role {
  position: absolute;
  top: 150%;
  margin-left: 10px;
}

ion-button {
  width: fit-content;
  height: 40px;
  font-size: x-small;
  padding-top: 10px;
}

.team-count {
  position: absolute;
  top: 120%;
}

.team-label {
  position: absolute;
  top: 100%;
}

.form-feild{
  width: 500px;
}