<ion-content>
  <ion-row>
    <ion-col size="12">

      <ion-img class="profile-header"
        src='https://directlinedev.com/media/cases/woodwell/clear/great_background_1.wide.png'>

      </ion-img>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xl="1" size-lg="1.5" size-md="2">

      <ion-row>
        <ion-card class="profile-img">
          <ion-img style="height: 100%;"
            src='https://image.freepik.com/free-vector/profile-icon-male-avatar-hipster-man-wear-headphones_48369-8728.jpg'>
          </ion-img>
        </ion-card>
      </ion-row>
      <ion-row>
        <span style="font-size: small; margin-left: 10px;">Sai Sunil Menta</span>
      </ion-row>
      <ion-row>
        <span style="font-size: smaller; margin-left: 10px;">Teacher</span>
      </ion-row>
    </ion-col>
    <ion-col size-xl="1" offset-xl="0.25" size-lg="1.5" size-md="1.5" offset-md="0.5">

      <ion-row>
        <span>10</span>
      </ion-row>
      <ion-row>
        <span>Teams</span>
      </ion-row>
      <ion-row *ngIf="viewButton">
        <ion-button>View Profile <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-row>

    </ion-col>
    <ion-col size-xl="1" offset-xl="0.25" size-lg="1" offset-lg="0.25" size-md="1.5" offset-md="0.5">
      <ion-row>
        <span>87</span>
      </ion-row>
      <ion-row>
        <span>Students</span>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>