<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-xl="7.5" size-lg="12" size-md="12" size-xs="12" style="height: fit-content;">
        <ion-slides pager="true" [options]="slideOpts" style="height: 100%;">
          <ion-slide>
            <ion-img style="height: 100vh; object-fit: unset;" src="https://wallpaperaccess.com/full/1209562.jpg">
            </ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img style="height: 100vh; object-fit: unset;" src="https://wallpaperaccess.com/full/1209562.jpg">
            </ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img style="height: 100vh; object-fit: unset;" src="https://wallpaperaccess.com/full/1209562.jpg">
            </ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col size-xl="4" offset-xl="0.5" size-lg="12" offset-lg="3" size-md="12" offset-md="2.5" size-xs="12"
        style="margin-left: 0px;">
        <ion-row class="padding-vertical padding-horizantal">
          <ion-button color="primary">Sqorer</ion-button>
        </ion-row>

        <ion-row style="padding-left: 35px;">
          <ion-col size="10">
            <h2>Reset password</h2>
          </ion-col>
          <ion-col size="10">
            <p>Reset your sqorer password</p>
          </ion-col>
        </ion-row>

        <ion-row style="justify-content: start;  padding-top: 30px;" class="padding-horizantal">

          <ion-col size-xl="10" size-lg="5" size-md="7" size-xs="12"
            style="background-color: #c1e8bc; width: fit-content; text-align: center; border-radius: 5px;">
            <h2 class="reset-label">
              Enter your email and instructions will be sent to you !
            </h2>
          </ion-col>

        </ion-row>

        <ion-row style="justify-content: start; padding-top: 15px;" class="padding-horizantal">
          <ion-item class="form-feild">
            <ion-label position="stacked">email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </ion-row>


        <ion-row style="justify-content: start;" class="padding-horizantal padding-vertical">

          <ion-col size-xl="2" offset-xl="8" size-lg="2" offset-lg="4" size-md="2" offset-md="5.5" size-xs="2"
            offset-xs="9.5">
            <ion-button color="primary">Log in</ion-button>
          </ion-col>

        </ion-row>

        <ion-row style="padding-top: 20px;">
          <ion-col size-xl="12" offset-xl="3" size-lg="12" offset-lg="1.65" size-md="12" offset-md="1.75" size-xs="12"
            offset-xs="3">
            <p>Remember it ? <a href="/auth/login">Signin here</a></p>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 20px;">
          <ion-col size-xl="12" offset-xl="2" size-lg="12" offset-lg="1.3" size-md="12" offset-md="1.25" size-xs="12"
            offset-xs="2">
            <p>Don't have an account ? <a href="/auth/sign-up">Signup now</a></p>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 100px;">
          <ion-col size-xl="12" offset-xl="3.25" size-lg="12" offset-lg="2" size-md="12" offset-md="2.5" size-xs="10"
            offset-xs="3.75" class="ion-align-content-center ion-justify-content-center">
            <p style="font-size: small;">©Augment Edutech</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>