@import "src/app/app.component.scss";

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

ion-radio {
  margin-right: 5px;
}

ion-img {
  height: 100vh;
  object-fit: unset;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .radio-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .reset-label {
    font-size: small;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.form-feild {
  width: 400px;
}

.fb-button {
  display: block;
  width: 40px;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
}

.reset-label {
  font-size: small;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 9px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--ion-color-primary);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(136, 12, 12);
  opacity: 0.2;
}
