@import "src/app/app.component.scss";

h4 {
  color: #14a800;
}

.selected-row:hover {
  background-color: #f2f2f2;
}

.selected-row {
  background-color: white;
}

ion-row {
  padding-left: 10px;
  padding-right: 10px;
}
ion-list {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

ion-card {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.email-input-height{
  height: 150px;
}

@media (max-width: 540px) {
  /* For mobile phones: */

  .email-input-height{
    height: 250px;
  }
  
  
}


::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ion-item {
  border: 1px solid #888;
  border: 50%;
  border-radius: 50px;
  height: 45px;
}

ion-input{
  text-align: center;
}