<app-header></app-header>

<ion-content>
  <ion-grid class="ion-padding" style="background-color: #F2F2F2; height: max-content;">
    <ion-row>
      <ion-col size-xl="6" size-lg="12" size-md="12" side-sm="12" size="12">

        <!-- All Teams -->
        <ion-card>
          <ion-card-header>
            <ion-card-title style="display: flex; flex-direction: row; justify-content: space-between;">
              <p>Teams</p>
            </ion-card-title>
          </ion-card-header>
          <!--  lable row -->
          <ion-row>
            <ion-item-divider>
              <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="1" size="1">
                <h4>#</h4>
              </ion-col>

              <ion-col size-xl="1.5" size-lg="1.5" size-md="1.75" size-sm="1" size="1" class="ion-hide-md-down">
                <h4>Avatar</h4>
              </ion-col>

              <ion-col size-xl="5.5" size-lg="6" size-md="5.5" size-sm="7" size="7">
                <h4>My teams</h4>
              </ion-col>

              <ion-col size-xl="2.5" size-lg="1.5" size-md="1.5" size-sm="3" size="3" class="ion-hide-md-down">
                <h4>Owner</h4>
              </ion-col>
              <ion-col size-xl="1.5" size-lg="1.5" size-md="1.5" size-sm="3" size="3">
                <h4>Active <ion-icon name="caret-down-outline"></ion-icon>
                </h4>
              </ion-col>
            </ion-item-divider>
          </ion-row>

          <ion-list class="ion-no-padding">
            <ion-row *ngIf="loadTeamsSpinner" class="ion-justify-content-center">
              <ion-col col="2" style="text-align: center;">
                <ion-spinner name="crescent" color="primary"></ion-spinner>
              </ion-col>
            </ion-row>
            <div *ngIf="!loadTeamsSpinner">

              <ion-row style="height: fit-content;" *ngFor="let team of teams;let i=index" class="ion-no-padding">
                <ion-item-divider class="selected-row" (click)="openTeam(team._id,team.name)">
                  <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="1" size="1">
                    <span>{{i+1}}</span>
                  </ion-col>

                  <ion-col size-xl="1.5" size-lg="1.5" size-md="1.75" class="ion-hide-md-down">
                    <span>
                      <ion-card style="border-radius: 50%;height: 35px;
                          width: 35px;">
                        <ion-header>
                          <ion-img src={{team.avatar}} alt="A">
                          </ion-img>
                        </ion-header>
                      </ion-card>
                    </span>
                  </ion-col>

                  <ion-col size-xl="5.5" size-lg="6" size-md="5.5" size-sm="7" size="7">
                    <span>{{team.name}}</span>
                  </ion-col>

                  <ion-col size-xl="2.5" size-lg="1.5" size-md="1.5"
                    class="ion-justify-content-center ion-hide-md-down">
                    <ion-icon name="checkbox" color="primary"></ion-icon>
                  </ion-col>

                  <ion-col size-xl="1.5" size-lg="1.5" size-md="1.5" size-sm="3" size="3"
                    class="ion-justify-content-center">

                    <ion-icon name="pencil-outline" color="primary"></ion-icon>

                  </ion-col>
                </ion-item-divider>
              </ion-row>
            </div>
          </ion-list>
        </ion-card>

      </ion-col>
      <ion-col size-xl="6" size-lg="12" size-md="12" side-sm="12" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="display: flex; flex-direction: row; justify-content: space-between;">
              <p>Team Students: <span>{{selectedTeamName}}</span></p>
            </ion-card-title>
          </ion-card-header>
          <ion-row>
            <ion-item-divider>
              <ion-col size-xl="1">
                <h4>#</h4>
              </ion-col>

              <ion-col size-xl="1.5" class="ion-hide-md-down">
                <h4>Avatar</h4>
              </ion-col>

              <ion-col size-xl="3">
                <h4>Student name</h4>
              </ion-col>
              <ion-col size-xl="3" class="ion-hide-md-down">
                <h4>Student email</h4>
              </ion-col>
              <ion-col size-xl="2" class="ion-hide-md-down">
                <h4>Country</h4>
              </ion-col>
              <ion-col size-xl="1.5">
                <h4>Remove</h4>
              </ion-col>
            </ion-item-divider>
          </ion-row>
  
          <ion-list class="ion-no-padding">

            <ion-row *ngIf="selectedTeam.length==0" class="ion-justify-content-center" style="height: 250px;">
              <ion-col size="3">
                <span>Students have to accept the invitation to be showed here.</span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="loadEachTeamSpinner" class="ion-justify-content-center">
              <ion-col col="2" style="text-align: center;">
                <ion-spinner name="crescent" color="primary"></ion-spinner>
              </ion-col>
            </ion-row>
            <div *ngIf="!loadEachTeamSpinner">
              <!--  lable row -->
              <ion-row style="height: fit-content;" *ngFor="let member of selectedTeam;let i= index"
                class="ion-no-padding">
                <ion-item-divider class="selected-row">
                  <ion-col size-xl="1">
                    <span>{{i+1}}</span>
                  </ion-col>

                  <ion-col size-xl="1.5" class="ion-hide-md-down">
                    <span>
                      <ion-card style="border-radius: 50%;height: 35px; width: 35px;">
                        <ion-header>
                          <ion-img src={{member.profile}}>
                          </ion-img>
                        </ion-header>
                      </ion-card>
                    </span>
                  </ion-col>

                  <ion-col size-xl="3">
                    <span>{{member.firstname}} {{member.lastname}}</span>
                  </ion-col>
                  <ion-col size-xl="3" class="ion-hide-md-down">
                    <span>{{member.email}}</span>
                  </ion-col>
                  <ion-col size-xl="2" class="ion-hide-md-down">
                    <span>{{member.country}}</span>
                  </ion-col>
                  <ion-col size-xl="1.5">
                    <span (click)="removeMember(member.email)">
                      <ion-icon name="close-outline" color="primary" size="large"></ion-icon>
                    </span>
                  </ion-col>
                </ion-item-divider>
              </ion-row>
            </div>

          </ion-list>

          <ion-row style="padding-top: 10px; padding-bottom: 10px; justify-content: flex-end; align-items:center;">
            <ion-col size-xl="5.5">
              <ion-item>
                <ion-input type="email" placeholder="Enter student email" [(ngModel)]="addTeamMember"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-xl="3">
              <ion-button color="primary" expand="block" (click)="addMemberToTeam()">
                <ion-spinner *ngIf="spinner" name="crescent" color="primary"></ion-spinner><span *ngIf="!spinner">
                  Add
                </span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-card>
          <ion-header style="background-color:#14A800;">
            <ion-row style="height: fit-content;">
              <ion-col size-xl="2.25" size-lg="1.75" size-md="2.5" size-sm="12" size="12"
                style="display: flex; align-items: center;">
                <ion-card style="border-radius: 50%;height: 100px;
                width: 100px;">
                  <ion-header>
                    <ion-img
                      src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6GWGz2SETy8IOf5tTtisVtIjpy0wEr6x8Xg&usqp=CAU'>
                    </ion-img>
                  </ion-header>
                </ion-card>
              </ion-col>
              <ion-col size-xl="4" size-lg="3" size-md="4" size-sm="12" size="12"
                style="display: flex; align-items: center;">
                <ion-item style="width: 300px; border-radius: 10px;">
                  <ion-input type="text" [(ngModel)]="teamName" placeholder="Enter Team name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-header>
          <ion-list>
            <ion-row class="ion-justify-content-center email-input-height">
              <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size="12"
                *ngFor="let feild of addEmailFeild; let i = index;trackBy:trackByIdx">
                <ion-item>
                  <ion-input type="email" [(ngModel)]="addEmailFeild[i]" placeholder="Enter student email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>

          <ion-row class="ion-justify-content-end" style="padding-top: 30px;">
            <ion-col size-xl="3">
              <ion-button color="primary" expand="block" (click)="addStudent()">Add more</ion-button>
            </ion-col>
            <ion-col size-xl="3">
              <ion-button color="primary" expand="block" (click)="createTeam()">
                <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner> <span *ngIf="!spinner">Invite</span>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>