<ion-list>
  <ion-item lines="none">
    <span (click)="goProfile()">
      <ion-icon name="person-outline" style="padding-right: 3px;"></ion-icon>
      Profile
    </span>
  </ion-item>


  <ion-item lines="none">
    <span>

      <ion-icon name="wallet-outline" style="padding-right: 3px;"></ion-icon>
      My Wallet

    </span>
  </ion-item>

  <ion-item lines="none">
    <span>
      <ion-icon name="hammer-outline" style="padding-right: 3px;"></ion-icon>
      Settings
    </span>
  </ion-item>


  <ion-item lines="none">
    <span>
      <ion-icon name="lock-open-outline" style="padding-right: 3px;"></ion-icon>
      Lock screen
    </span>
  </ion-item>


  <ion-item lines="none">
    <span (click)="logout()">
      <ion-icon name="power" style="padding-right: 3px;"></ion-icon>
      Logout
    </span>

  </ion-item>
</ion-list>