@import "src/app/app.component.scss";

.subscription-col {
  border-radius: 10px;
  border: 1px solid #14A800;
  background-color: white;
}

.main-col {
  border-radius: 10px;
  background-color: white;
}

.divider {
  height: 0px;
  border: 1px solid #14A800;
  background-color: #14A800;
}

ion-label {
  text-align: center;
}

li {
  color: #14a800;
  padding: 10px;
  p {
    color: black;
  }
}
