@import "src/app/app.component.scss";

.header-search-btn {
  background-color: #f2f2f2;
  width: fit-content;
  border-radius: 50px;
}

ion-icon {
  font-size: 24px;
}

ion-searchbar {
  --border-radius: 20px;
  width: 200px;
}

span {
  cursor: default;
}
