<ion-header [translucent]="false">
  <ion-grid>
    <ion-toolbar>

      <ion-row>
        <ion-col style="margin-top: 10px;" size-xl="0.5" size-lg="0.5" size-md="0.5" size-xs="0.5">
          <ion-buttons class="ion-no-padding">
            <ion-menu-button style="margin-top: 0px;">

            </ion-menu-button>
          </ion-buttons>
        </ion-col>

        <ion-col style="margin-top: 10px;" size-xl="1.5" size-lg="2" offset-xl="0.5" offset-lg="1" size-md="2"
          offset-md="0.5" class="hide-sm hide-md">
          <ion-searchbar inputmode="text"></ion-searchbar>
        </ion-col>

        <ion-col size-xl="1" offset-xl="0.5" size-lg="2" size-md="2" offset-md="1.5" size-xs="2" offset-xs="1"
          style="margin-top: 20px;" class="hide-sm">
          <span style="color: black; font-size: small;">Quick tasks <ion-icon name="chevron-down-outline"
              style="font-size: small;"></ion-icon>
          </span>
        </ion-col>


        <ion-col size-xl="5" offset-xl="3" size-lg="5" offset-lg="0" size-md="5.5" offset-md="0" size-xs="8"
          offset-xs="3" style="margin-top: 5px;">
          <ion-row class="padding-top-sm">
            <ion-col size-xl="1" offset-xl="3.5" size-lg="1" offset-lg="3" size-md="1" offset-md="3" size-xs="1"
              class="hide-sm">
              <ion-icon name="grid-outline"></ion-icon>
            </ion-col>

            <ion-col size-xl="1" size-lg="1" size-md="1" offset-md="0.25" size-xs="1" class="hide-sm">
              <ion-icon name="scan-outline"></ion-icon>
            </ion-col>

            <ion-col size-xl="1" size-lg="1" size-md="1" offset-md="0.25" size-xs="1" offset-xs="6">
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-col>

            <ion-col size-xl="1" size-lg="1" size-md="1" offset-md="0.25" class="hide-sm">
              <ion-img src='https://www.shareicon.net/data/512x512/2016/07/26/802043_man_512x512.png' alt='SS'
                style="border-radius: 50px; height: 25px;">
              </ion-img>
            </ion-col>

            <ion-col size-xl="2" size-lg="2" size-md="2.5" offset-md="0.25" size-xs="1">
              <span class="hide-sm" (click)="openProfilePopOver($event)">
                {{firstName}} <ion-icon name="chevron-down-outline" size="small" style="position: absolute; top: 5px;">
                </ion-icon>
              </span>
            </ion-col>

            <ion-col size-xs="1" class="hide-lg" (click)="openProfilePopOver($event)">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size-xl="1" size-lg="1" size-md="1" offset-md="0.25" size-xs="1" offset-xs="1">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-toolbar>
  </ion-grid>
</ion-header>